# Copiar a .env y rellenar. .env NO se versiona.
DB_URL=jdbc:postgresql://localhost:5432/listaCompra?useSSL=false
DB_USERNAME=postgres
DB_PASSWORD=postgres
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=hacercomprasencilla
# PEM en una sola linea con \n literal. Generar con:
#   openssl genrsa -traditional -out jwt.pem 2048 && openssl rsa -in jwt.pem -pubout -out jwt.pub
JWT_PRIVATE_KEY=-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----
JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----
TAILSCALE_AUTH_KEY=
